{% url 'books' as books_url %}
{% url 'authors' as authors_url %}
{% url 'events' as events_url %}
{% url 'pricing' as pricing_url %}
{% load static %}

{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'author.css' %}">

    <script src="{% static 'script.js'%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Books</title>
</head>
<body>
    {% with request.path as path %}
    <header>
        <nav>
            <div class="container">
            <div class="logo">
                <img src="{% static 'images/logo.jpg' %}" alt="Website Logo">  
            </div>
            <ul>
                <li class="{% if path == books_url %}active{% endif %}"><a href="{% url 'books' %}">Books</a></li>
                <li class="{% if path == authors_url %}active{% endif %}"><a href="{% url 'authors' %}">Authors</a></li>
                <li class="{% if path == events_url %}active{% endif %}"><a href="{% url 'events' %}">Events</a></li>
                <li class="{% if path == pricing_url %}active{% endif %}"><a href="{% url 'pricing' %}">Pricing</a></li>
            </ul>
            </div>
            <div class="navbar-icons">
                <a href="#" class="icon"><i class="fas fa-shopping-basket"></i></a>
                <a href="#" class="icon"><i class="fas fa-user"></i></a>
            </div>
        </nav>
    </header>
<!-- Carousel Wrapper -->
<div id="SimpleCarouselExample" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#SimpleCarouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#SimpleCarouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#SimpleCarouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  
<!-- Carousel Inner -->
<div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active">
    <div class="carousel-content">
        <div class="book-info">
        <h2>LIGHT COLLECTION</h2>
        <h1>King Kong Theory</h1>
        <p>Virginie Despentes</p>
        <button class="view-more">View more</button>
        </div>
        <div class="book-cover">
        <img src="{% static 'images/KING-KONG-THEORY.jpg' %}" class="d-block w-100" alt="King Kong Theory Cover">
        </div>
    </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
    <div class="carousel-content">
        <div class="book-info">
        <h2>CURSED POETRY COLLECTION</h2>
        <h1>The Flowers of Evil</h1>
        <p>Charles Baudelaire</p>
        <button class="view-more">View more</button>
        </div>
        <div class="book-cover">
        <img src="{% static 'images/flowers_of_evil.jpg' %}" class="d-block w-100" alt="Flowers of Evil">
        </div>
    </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
    <div class="carousel-content">
        <div class="book-info">
        <h2>THINKERS COLLECTION</h2>
        <h1>Why the World Does Not Exist</h1>
        <p>Markus Gabriel</p>
        <button class="view-more">View more</button>
        </div>
        <div class="book-cover">
        <img src="{% static 'images/why_world.jpg' %}" class="d-block w-100" alt="Why the World Doesn't Exist Cover">
        </div>
    </div>
    </div>
</div>

<!-- Controls -->
<button class="carousel-control-prev" type="button" data-bs-target="#SimpleCarouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>

<button class="carousel-control-next" type="button" data-bs-target="#SimpleCarouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>

</div>

<!-- Recommended Books Section -->
<div class="recommended-books">
    <h2>You may also like</h2>
    <div class="book-list">
        <div class="book-card">
            <img src="{% static 'images/book1.jpg' %}" alt="King Kong Theory">
            <div class="book-title">King Kong Theory</div>
            <div class="book-author">Virginie Despentes</div>
            <div class="book-credits">$3</div>
        </div>
        <div class="book-card">
            <img src="{% static 'images/book2.jpg' %}" alt="Slaughterhouse-Five">
            <div class="book-title">Slaughterhouse-Five</div>
            <div class="book-author">Kurt Vonnegut</div>
            <div class="book-credits">$3</div>
        </div>
        <div class="book-card">
            <img src="{% static 'igit merge booksmages/book3.jpg' %}" alt="Family Happiness">
            <div class="book-title">Family Happiness</div>
            <div class="book-author">Leo Tolstoy</div>
            <div class="book-credits">$2</div>
        </div>
        <div class="book-card">
            <img src="{% static 'images/book1.jpg' %}" alt="A Chess Story">
            <div class="book-title">A Chess Story</div>
            <div class="book-author">Stefan Zweig</div>
            <div class="book-credits">$2</div>
        </div>
        
    </div>
</div>

<div class="newsletter-section">
    <div class="newsletter-content">
    <div class="text">
      <h2>&#161;Subscribe to our <br>newsletter!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Suspendisse nisi sapien, 
        hendrerit quis finibus a, <br>rutrum commodo arcu. Curabitur pharetra lacus et venenatis bibendum. 
        <br>Nam vel nunc massa.</p>
    </div>
    <div class="newsletter-form">
        <button type="submit">Subscribe!</button>
    </div>
    </div>
  </div>
        
<footer class="footer">
<div class="logo">
    <img src="{% static 'images/logo.jpg' %}" alt="Website Logo"> 
</div>

<div class="footer-links">
    <ul class="footer-section">
        <li>Books</li>
        <li>Authors</li>
        <li>Collections</li>
        <li>Events</li>
    </ul>
    <ul class="footer-section">
        <li>Legal warning</li>
        <li>Giveaway terms and conditions</li>
        <li>Legal bases of the draws</li>
    </ul>
    <ul class="footer-section">
        <li>Return policy</li>
        <li>Cookies policy</li>
        <li>Privacy policy</li>
    </ul>
</div>
<div class="footer-right">
    <p>Xname. All rights reserved</p>
    <div class="social-icons">
        <a href="#" class="icon"><i class="fa fa-facebook"></i></a>
        <a href="#" class="icon"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#" class="icon"><i class="fa fa-instagram"></i></a>
    </div>
</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>  
</html>
{% endwith %}
{% endblock %}
