# Ignore the virtual environment directory
venv/

# Ignore the pycache directory
__pycache__/

# Ignore the db.sqlite3 database file
db.sqlite3

# Ignore the .env file (if you're using environment variables)
.env

# Ignore the .vscode directory (if you're using VS Code)
.vscode/

# Ignore the .idea directory (if you're using PyCharm)
.idea/

# Ignore the .DS_Store file (if you're on a Mac)
.DS_Store

# Ignore the Thumbs.db file (if you're on Windows)
Thumbs.db
.pycache
.log
.csv
.docx
__init__.pyc
